* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-image: url(../img/background_snowflower_a.png);
    background-size: 100%;
    background-repeat:repeat-y;
}
.homeA , .homeB ,.RWD{
    margin: 0 auto;
    overflow: hidden;
}


.homeA {
    max-width: 1140px;
    width: 100%;
    /* display: flex; */
}
/* .logo {
    background-image: url(../img/topTitle.png),
    url(../img/topLogo-world.png),
    url(../img/topLogo-sky.png);
    background-position: center,center,center;
    background-size: 50%,contain,contain;
    background-repeat: no-repeat;
    margin: 50px auto 20px auto;
    width: 100%;
    padding-bottom: 50%;
} */

/* --------------------------------------------logo animation */
.logoParent {
    position: relative;
    margin: auto;
    width: 70%;
    height: 100vh;
    max-width: 1120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logoChild {
    position: absolute;
}
.logoChild>img {
    width: 100%;
}
.logo-title {
    animation: logo-title 5s infinite;
}
@keyframes logo-title {
    0%{position: relative; top: 0px;}
    50%{position: relative; top: 10px;}
    100%{position: relative; top: 0px;}
}
.logo-world {
    animation: logo-world 20s infinite linear;
    }
@keyframes logo-world {
    from {transform:rotate(0deg);}
    to {transform:rotate(-360deg);}
}
.logo-sky {
    padding-top: 20px;
    animation: logo-sky 5s infinite;
}
@keyframes logo-sky {
    0%{position: relative; top: 0px;}
    50%{position: relative; top: -20px;}
    100%{position: relative; top: 0px;}
}
/* --------------------------------------------logo animation end */

.homeB {
    width: 100%;
    /* height: 150vh; */
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    background-image: url(../img/background_snowflower_b.png);
    background-position: center center;
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: 100%;
    box-shadow: 0 100px 100px rgb(0, 69, 90) inset;
    border-radius: 50% 50% 0 0;
    z-index: -1;
}
.slogan{
    position: absolute;
    top: 0;
    background-image: url(../img/webword/slogan.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 30vh;
    width: 100%;
    animation: tada 1s infinite linear;
}


/* --------------------------------------------slogan CSS */
.sloganBgi{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
    margin: auto;
}

.slogan-sky{
    position: absolute;
    width: 100%;
    max-width: 800px;
    height: 600px;
    background-image: url(../img/slogan-sky.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin:-28px auto;
}
.slogan-world{
    position: absolute;
    width: 100%;
    max-width: 800px;
    height: 600px;
    background-image: url(../img/slogan-world.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin:auto;
    animation: slogan-world 2s infinite ease-in-out alternate;
}
@keyframes slogan-world {
        form{transform:rotate(5deg);}
        to{transform:rotate(-5deg);}
    }
.slogan-cloud{
    position: absolute;
    width: 100%;
    max-width: 800px;
    height: 600px;
    background-image: url(../img/slogan-cloud.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:100%;
    margin:auto;
}
.homeSoldier{
    position: absolute;
    width: 45%;
    height: 100vh;
    top: -5%;
    left: -9%;
    background-image: url(../img/homeSoldier.png);
    background-position:left center;
    background-repeat: no-repeat;
    background-size: 100%;
    /* transition: 0.5s; */
}
.homeEnemy{
    position: absolute;
    width: 45%;
    height: 100vh;
    top: -5%;
    right: -5%;
    background-image: url(../img/homeEnemy.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 100%;
    /* transition: 0.5s; */
}
@media screen and (max-width: 900px) {
    .homeSoldier{
        width: 50%;
        height: 100vh;
        left:-20%;
    }
    .homeEnemy{
        width: 50%;
        height: 100vh;
        right:-20%;
    }
    .slogan-sky{
        margin: -20px auto;
    }
}
/* --------------------------------------------slogan CSS end*/
.homeC{
    width: 100%;
    height: 1712px;
    background-image: url(../img/homeC-background.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -500px;
}
.video-parent{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home_special{
    width: 100%;
    height: 60px;
    background-image: url(../img/webword/home-special.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin: 250px 0 50px 0;
}
iframe{
    max-width: 800px;
    width: 100%;
    max-height: 600px;
    height: 100vh;
    border-radius: 20px;
    box-shadow: 0 50px 50px rgba(1, 56, 73, 0.5);
}
.homeD {
    width: 100%;
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
}
.detail{
    background-image: url(../img/webword/home-about.png);
    background-repeat: no-repeat;
    background-size:contain;
    width: 50%;
    padding-top: 25%;
}

.game {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.homeAbout {
    background-image: url(../img/homeAbout.png);
    background-position:  center;
    background-size: contain;
    background-repeat: no-repeat;
    flex-basis: calc(100% / 3 - 30px);
    padding-bottom: 60%;
    transition: 1s;
}
.homeAbout:hover{
    background-image: url(../img/homeAbout-hover.png);
    transition: all 0.8s;
    margin-bottom: 10px;
}
.game a{
    display: block;
    width: 100%;
    height: 100%;
}
.homeBarrask {
    background-image: url(../img/homeBarrask.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    flex-basis: calc(100% / 3 - 30px);
    padding-bottom: 60%;
    transition: 1s;
}
.homeBarrask:hover{
    background-image: url(../img/homeBarrask-hover.png);
    transition: all 0.8s;
    margin-bottom: 10px;

}
.homeBattle {
    background-image: url(../img/homeBattle.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    flex-basis: calc(100% / 3 - 30px);
    padding-bottom: 60%;
    transition: 1s;
}
.homeBattle:hover{
    background-image: url(../img/homeBattle-hover.png);
    transition: all 0.8s;
    margin-bottom: 10px;
}
.homeE{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px auto;
}
.information{
    width: 540px;
    height: 250px;
    /* padding-bottom: 30%; */
    background-image: url(../img/webword/requirement.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left center;
}
.store{
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.googlestore  {
    width: 100%;
    height: 100px;
    background-image: url(../img/GooglePlay.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    margin: 10px auto;

}
.googlestore:hover {
    animation: pulse 1s infinite linear;
}
.applestore{
    width: 100%;
    height: 100px;
    background-image: url(../img/AppStore.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    margin: 10px auto;

}
.applestore:hover {
    animation: pulse 1s infinite linear;
}

.nav01{
    display: flex;
    justify-content: center;
    background-image: url(../img/menu.png);
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-position: center bottom;
}
.menuHome_s{
    background-image: url(../img/menuHome_s.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 90px;
    height: 90px;
}
.menuHome_s:hover{
    animation: pulse 1s infinite;
}
.icon{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    width: 90px;
    height: 90px;
}
.icon:hover{
    animation: pulse 1s infinite;
}
.menuAbout_s{
    background-image: url(../img/menuAbout_s.png);
}
.menuBarrask_s{
    background-image: url(../img/menuBarrask_s.png);
}
.menuBattle_s{
    background-image: url(../img/menuBattle_s.png);
}
.pageTop{
    background-image: url(../img/pageTop.png);
    background-position: center;
    background-size: contain;
    width: 130px;
    height: 130px;
}
.menuHome_s , .menuAbout_s , .menuBarrask_s , .menuBattle_s , .pageTop{
    margin: 10px 10px 30px 10px;
}
.homeF{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

@media screen and (min-width:414px){
    .nav02{
    width: 80%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    margin: auto;
    /* padding-top: 50px; */
    }
    .copyright{
        width: 540px;
        height: 50px;
        background-image: url(../img/webword/copyright.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }
    .communityIcon{
        width: 350px;
        height: 65px;
        display: flex;
        justify-content: center;
    }
    .fbicon{
        width: 65px;
        height: 65px;
        background-image: url(../img/fbLink.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%;
        margin: auto 10px;


    }
    .fbicon:hover{
        animation: tada 1s infinite linear;
    }
    .igicon{
        width: 65px;
        height: 65px;
        background-image: url(../img/igLink.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%;
        margin: auto 10px;
    }
    .igicon:hover{
        animation: tada 1s infinite linear;
    }
}
.slogan{
    animation: none; 
}

.RWD{
    display: none;
}
@media screen and (max-width:414px) {
    body{
        background-image: url(../img/background_snowflower_a.png);
    }
    .homepage{
        display: none;
    }
    .RWD{
        display: block;
        max-width: 414px;
        /* padding-bottom: 5%; */
        position: relative;
    }
    .menu {
        position: fixed;
        top: 80px;
        right: 0;
        width: 100%;
        max-width: 414px;
        z-index: 99999;
    }
    #menuIcon {
        background-color: rgba(255, 255, 255, 0.5);
        width: 60px;
        height: 60px;
        position: fixed;
        top: 10px;
        right: 10px;
        border-radius: 20px;
        background-image: url("../img/RWD-menu.png");
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: center;
        z-index: 99999;
    }
    .menuIcon img {
        width: 100%;
        margin: auto;
        
    }
    
    .menu>nav img {
        width: 80%;
        z-index: 999;
    }

    .menu ul {
        list-style: none;
        display: none;
    }
    li{
        width: 100%;
        background-color: rgba(255, 255, 255, 0.75);
        text-align: center;
    }
    .logo{
        background-image: url(../img/topTitle.png),
        url(../img/topLogo-world.png),
        url(../img/topLogo-sky.png);
        background-size: 50%,80%,80%;
        background-repeat: no-repeat;
        background-position: center,center,center;
        width: 100%;
        padding: 50% 0;
    }
    .soliderEnemy{
        display: flex;
        justify-content: center;
        width: 100%;
        position: relative;
    }
    .slogan{
        background-image: url(../img/webword/slogan.png),
        url(../img/slogan-world.png),
        url(../img/slogan-sky.png),
        url(../img/slogan-cloud.png);
        background-size: 80%,80%,50%,70%;
        background-repeat: no-repeat;
        background-position: center,center,center,center;
        width: 100%;
        padding-bottom: 50%;
        animation: pulse 5s infinite;
    }
    
    .solider{
        background-image: url(../img/homeSoldier.png);
        background-size: 80%;
        background-repeat: no-repeat;
        width: 50%;
        padding-top: 20%;
        padding-bottom: 40%;
        z-index: 10;
        background-position: -50px center;
        animation: bounce 2s infinite;
    }
    .enemy{
        background-image: url(../img/homeEnemy.png);
        background-size: 80%;
        background-repeat: no-repeat;
        width: 50%;
        padding-top: 20%;
        padding-bottom: 40%;
        z-index: 10;
        background-position: 80px center;
        animation: bounce 2s 1s infinite;
    }
    .home_special{
        background-image: url(../img/webword/home-special.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        margin-top: 20%;
        padding-bottom: 15%;
    }
    .video{
        position: relative;
        width: 100%;
        padding-bottom: 100%;
    }
    iframe{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 75%;
        margin: 0 auto;
    }
    .RWD-homeAbout{
        background-image: url(../img/RWD-menu-A.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        max-width: 80%;
        margin: 0 auto;
        padding-bottom: 25%;
        margin: 0 auto;
    }
    .RWD-homeBarrask{
        background-image: url(../img/RWD-menu-B.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        max-width: 80%;
        margin: 0 auto;
        padding-bottom: 25%;
        margin: 0 auto;
    }
    .RWD-homeBattle{
        background-image: url(../img/RWD-menu-C.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        max-width: 80%;
        margin: 0 auto;
        padding-bottom: 30%;
        margin: 0 auto;
    }
    .googleplay{
        background-image: url(../img/GooglePlay.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 80%;
        max-width: 80%;
        margin: 0 auto;
        padding-bottom: 30%;
    }
    .applestore{
        margin-top: 20px;
        background-image: url(../img/AppStore.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 80%;
        max-width: 80%;
        margin: 0 auto;
        padding-bottom: 30%;
    }
    .communityIcon{
        display: flex;
        justify-content: center;
    }
    .fbicon{
        background-image: url(../img/fbLink.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 50%;
        padding-bottom: 20%;
        margin-top: 10%;
    }
    .igicon{
        background-image: url(../img/igLink.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 50%;
        padding-bottom: 20%;
        margin-top: 10%;
    }
    .footer{
        margin-top: 10%;
        background-image: url(../img/webword/copyright.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        padding-bottom: 15%;
    }
    #pageTop {
        display: none;
        position: fixed;
        right: 10px;
        bottom: 10px;
        text-decoration: none;
        width: 60px;
        height: 60px;
        text-align: center;
        color: rgb(0, 0, 0);
        font-size: 45px;
        line-height: 90px;
        background-image: url("../img/pageTop.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 20px;
    }
}